body{
  font-family: 'Press Start 2P';
background-color: black;
color: #04B800;
letter-spacing: 2px;

}
.container{

  width:50vw;

  margin:auto;
  text-align: center;
}

textarea{
  width:100%;
  //background: #00b800;
 
}
button{
  font-family: 'Press Start 2P';
  display: block;
  margin: 0 auto;
  border: none;
  background: #a80020;
  background: #00b800;
  padding: 10px 20px; 

  text-transform: uppercase;
  font-weight: 500;
  font-size: 27px;
}


